@layer character, text-box;

@layer character {

    #vriska {

        width: 50px;
        height: 50px;
        position: absolute;
    
    }

}

@layer text-box {

    .text-box {

        display: none;
        border: 10px solid #A9A9A9;
        border-radius: 6px;
        background-color: #D8D8D8;
        padding: 4px;

    }

}