@keyframes sprite-animate-right {

    from {
        left: 600px;
    }

    to {
        left: 400px;
    }

}

@keyframes sprite-animate-left {

    from {
        right: 600px;
    }

    to {
        right: 400px;
    }

}

#game_container {

    width: 800px;
    height: 600px;
    background-color: #101010;
    margin: auto;
    position: relative;
    font-size: 18px; font-weight: bold; font-family: courier, monospace;

}

.text-box {

    display: none;
    border: 10px solid #A9A9A9;
    border-radius: 6px;
    background-color: #D8D8D8;
    padding: 4px;

}

#left_text {

    position: absolute;
    left: 400px;
    top: 200px;
    width: 370px;
    height: 200px;

}

#right_text {

    position: absolute;
    right: 400px;
    top: 200px;
    width: 370px;
    height: 200px;

}

.choice {

    position: absolute;
    display: none;
    border-radius: 2px;
    border: 4px groove grey;
    background-color: #B9B9B9;
    width: 600px;
    text-align: center;
    padding: 2px;
    left: 100px;

}

.choice:hover {

    background-color: #D9D9D9;
    padding: 4px;

}

#top_choice {
    top: 200px;
}

#bottom_choice {
    top: 300px;
}

#mute_button {

    margin: auto;
    border: 3px grey groove;
    background-color: #f2a400;
    text-align: center;
    width: 150px;

}